# See https://docs.docker.com/engine/reference/builder/#dockerignore-file for more about ignoring files.

# Git
.git

# Caches
.cache

# Packages
node_modules

# Logs
*.log

# Temporary and built assets
tmp
dist

# Local development
docker-compose.override.yml
docker-compose.override.dist.yml

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode

# System Files
.DS_Store
Thumbs.db